{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Type</th>
            <th scope="col">Symbol</th>
            <th scope="col">Name</th>
            <th scope="col">No of shares</th>
            <th scope="col">Price bought/sold</th>
            <th scope="col">Time</th>
        </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                    <td>{{ transaction.type }}</td>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.name }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>{{ transaction.price | usd }}</td>
                    <td>{{ transaction.time }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}